{% extends "base.html" %}

<!-- Using blocks to show our content in base.html -->
{% block content %}
    <!-- Looping over each blog post. Remember that object_list comes from ListView which contains all the objects in our view -->
    {% for post in object_list %}
        <div class="post-entry">
            <h2>
                {% comment %} Here we are telling our django template we want to reference a URLConf by using {% url ... %}. The URL we want is post_detail which is the name we gave BlogDetailView in our URLConf. In post_detail, it expects to be passed an argument, pk, representing the primary key for the blog post. We reference that key by using post.pk as the id is already created in our post object.  {% endcomment %}
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
            </h2>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}